{# -- Standard header for all non-neuron pages (index, help, types) -- #}
<div class="neuron-header-bar">
  <div class="row center-md end-sm">
    <div class="col-md-3 col-md-offset-1 col-sm-12">
    <div class="row end-sm">
        <div class="col-md-4 col-sm-12"><a href="{{ '../' if is_neuron_page else '' }}index.html">Home</a></div>
        <div class="col-md-4 col-sm-12"><a href="{{ '../' if is_neuron_page else '' }}types.html">Types List</a></div>
        <div class="col-md-4 col-sm-12"><a href="{{ '../' if is_neuron_page else '' }}help.html">Help</a></div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <span class="brand" id="cell-type-catalog">{{ config.html.title_prefix }} – Cell Type Explorer</span>
    </div>
    <div class="col-md-3 col-sm-12">
    <div class="row around-md center-md end-sm">
        <div class="col-md-6 col-sm-12 header-search-col">
      <form class="search-form">
        <input id="menulines" type="text" style="display:inline" placeholder="Search cell types ..." />
      </form>
      </div>
      <div class="col-md-2 col-sm-12">
      {% if config.html.github_repo %}
      <a href="{{ config.html.github_repo }}" class="icon-link" title="Open GitHub page in new tab" target="_blank"><img src="{{ '../' if is_neuron_page else '' }}static/icons/github.svg" alt="GitHub" width="32" height="32" /></a>
      {% endif %}
      </div>
      <div class="col-md-2 col-sm-12">
      {% if config.html.youtube_channel %}
      <a href="{{ config.html.youtube_channel }}" class="icon-link" target="_blank" title="Open YouTube channel in new tab"><img src="{{ '../' if is_neuron_page else '' }}static/icons/youtube.svg" alt="YouTube" width="32" height="32" /></a>
      {% endif %}
      </div>
      <div class="col-md-2 col-sm-12">
      <a href="https://{{- config.neuprint.server -}}/?dataset={{- config.neuprint.dataset -}}" class="nav-link" target="_blank" title="Open Male CNS dataset in neuPrint">neuPrint&nbsp;&#x29c9;</a>
      </div>
      </div>
    </div>
  </div>
</div>

{# -- Include neuron search functionality -- #}
<script src="{{ '../' if is_neuron_page else '' }}static/js/neuron-search.js"></script>
