{# Include the base header with shared navigation and social links #}
{% include "sections/header.html.jinja" %}

{# Colored line based on soma side #}
{%- if soma_side -%}
    <div class="soma-side-line soma-side-{{ soma_side }}"></div>
{%- endif -%}

{# Neuron-specific header content #}
<div class="header-title">
    <div class="title-container row">
        <div class="col-md-12">
            <h1 id="top">
                {{- neuron_type -}}
                <span class="soma-side">
                {{- '(' ~ soma_side[0]|upper ~ ')' if soma_side and soma_side != '' and soma_side != 'combined' -}}
                </span>
                {%- if soma_side == 'all' or soma_side == 'combined' -%}
                    {%- if complete_summary.soma_neuromeres -%}
                        <span title="Soma Neuromere" class="soma-neuromere">[{{ complete_summary.soma_neuromeres | join(', ') }}]</span>
                    {%- endif -%}
                    {%- if complete_summary.truman_hemilineages -%}
                        <span title="Truman hemilineage" class="truman-hl">{{ '{' }}{{ complete_summary.truman_hemilineages | join(', ') }}{{ '}' }}</span>
                    {%- endif -%}
                {%- else -%}
                    {%- if summary.soma_neuromeres -%}
                        <span title="Soma Neuromere" class="soma-neuromere">[{{ summary.soma_neuromeres | join(', ') }}]</span>
                    {%- endif -%}
                    {%- if summary.truman_hemilineages -%}
                        <span title="Truman hemilineage" class="truman-hl">{{ '{' }}{{ summary.truman_hemilineages | join(', ') }}{{ '}' }}</span>
                    {%- endif -%}
                {%- endif -%}
                <a href="{{- neuprint_url -}}" target="_blank" class="external-link" title="Open {{ neuron_type }} in new neuPrint window">&#x29c9;</a>
            </h1>
        </div>
        {% if processed_synonyms or ( processed_flywire_types and true in processed_flywire_types.values() | map(attribute="is_different")) %}
        <div class="row">
            <div class="col-md-12">
                <p>AKA:
                {% if processed_synonyms %}
                {% for syn_name, ref_list in processed_synonyms.items() %}
                    {% if not loop.first %}, {% endif %}
                    {{ syn_name }}
                    {% if ref_list %}
                        ({% for ref_info in ref_list -%}
                            {% if not loop.first %}, {% endif -%}
                            <a href="{{ ref_info.url }}"{% if ref_info.title %} title="{{ ref_info.title }}"{% endif %} target="_blank">{{- ref_info.ref -}}</a>
                        {%- endfor %})
                    {% endif %}
                {% endfor %}
                {% endif %}
                {% if processed_flywire_types %}
                {% if processed_synonyms %}, {% endif %}
                {% for flywire_name, flywire_info in processed_flywire_types.items() %}
                    {% if flywire_info.is_different %}
                        {% if not loop.first %}, {% endif %}
                        {{ flywire_name }} (<a href="{{ flywire_info.flywire_url }}" target="_blank">Flywire</a>, <a href="{{ flywire_info.cte_fafb_url }}" target="_blank">CTE-FAFB</a>)
                    {% endif %}
                {% endfor %}
                {% endif %}
                </p>
            </div>
        </div>
        {% endif %}
    </div>
</div>
