<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{{ config.html.title_prefix }} – Cell Type Explorer{% endblock %}</title>

        {# -- CSS Imports -- #}
        {% block css %}
        <link rel="stylesheet" href="{{ '../' if is_neuron_page else '' }}static/css/plume-all.css" />
        <link rel="stylesheet" href="{{ '../' if is_neuron_page else '' }}static/css/plume-theme-default.css" />
        <link rel="stylesheet" href="{{ '../' if is_neuron_page else '' }}static/css/flexboxgrid.min.css" />
        {# -- DataTables CSS -- #}
        <link rel="stylesheet" href="{{ '../' if is_neuron_page else '' }}static/css/dataTables.dataTables.min.css" />
        <link rel="stylesheet" href="{{ '../' if is_neuron_page else '' }}static/css/dataTables.bootstrap4.min.css" />
        <link rel="stylesheet" href="{{ '../' if is_neuron_page else '' }}static/css/buttons.dataTables.min.css" />
        {#-- Custom Neuron Page CSS --#}
        <link rel="stylesheet" href="{{ '../' if is_neuron_page else '' }}static/css/neuron-page.css" />
        {% endblock %}

        {% block extra_head %}{% endblock %}

        {# -- Fathom Analytics -- #}
        {% if config.html.fathom_id %}
        <script src="https://cdn.usefathom.com/script.js" data-site="{{- config.html.fathom_id -}}" defer></script>
        {% endif %}
    </head>
    <body class="plume{% if is_neuron_page %} is-neuron-page{% endif %}" id="top">
        {% block header %}{% endblock %}

        <div class="container">
            {% block content %}{% endblock %}
        </div>

        {% block footer %}{% endblock %}

        {% block extra_scripts %}{% endblock %}
    </body>
</html>
